.floating-cart {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1000;
}

.groupHo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-icon {
    width: 150px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.cart-icon:hover {
    transform: scale(1.1);
}

.checkO {
    color: red;
    font-size: 19px;
    margin-top: -4rem;
    margin-bottom: -12rem;
    padding-right: 15%;
    text-align: center;
    position: relative;
    z-index: 1;
}