* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    margin: 8px;
}

:root {
    background-color: #d6d6d6;
}

@font-face {
    font-family: "dienasty";
    src: url(/src/assets/fonts/dienasty.otf);
}

@font-face {
    font-family: "MuseoSans-900";
    src: url(/src/assets/fonts/MuseoSans-900.otf);
}

.guitarStyle {
    width: 80%;
    margin-left: 10%;
}

ul,
li {
    list-style: none;
}

.keychainify-checked {
    background-color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
}

/* .header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
} */

.container {
    max-width: 1000px;
    margin: auto;
    padding: 2rem;
    display: flex;
    gap: 1rem;
}

.nav {
    display: flex;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    gap: .5rem;
}

.nav-link {
    color: red;
    text-decoration: none;
}

.nav-link.active {
    font-weight: bold;
    text-decoration: underline;
}

.products-container {
    min-height: 30vh;
    display: grid;
    place-items: center;
}


.item-list-container {
    max-width: 1000px;
    margin: 0 auto;
}

.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    display: grid;
}

.productoPrecioStyle {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

a {
    color: white;
}

.verde {
    color: green;
}

.rojo {
    color: red;
}

.bg-blanco {
    background-color: white;
}

.bg-gris {
    background-color: gray;
}

.productDesCFG {
    text-align: center;
    font-size: 25px;
    margin-left: 5%;
    margin-right: 5%;
}

.productNomCFG {
    font-size: 35px;
    margin-bottom: 2%;
    margin-top: 2%;
}

.colorPrice {
    color: #164212;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 4em;
}

hr {
    color: black;
}

.hrCfg {
    font-size: 30px;
}

.imgCfg {
    width: 70%;
    margin-left: 6%;
    margin-top: 4%;
}

.priceCFG {
    color: #164212;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 30px;
}

.buttonsStore {
    margin-top: 1em;
}

.moreInfo {
    cursor: pointer;
    font-size: 18px;
    color: white;
    background-color: #333;
    padding: 10px;
    border-radius: 50%;
    border: 5px solid #8b8585;
    font-family: "MuseoSans-900";
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 0.5em;
}

.moreInfo:hover {
    color: rgb(0, 0, 0);
    background-color: #8b8585;
    border: 5px solid #333;
}

.add2Cart:hover {
    color: rgb(0, 0, 0);
    background-color: #8b8585;
    border: 5px solid rgb(252, 237, 18);
}

.add2Cart {
    cursor: pointer;
    font-size: 18px;
    font-family: "MuseoSans-900";
    color: rgb(252, 237, 18);
    background-color: #333;
    padding: 10px;
    border-radius: 50%;
    border: 5px solid #8b8585;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0.5em;
}

.carrito {
    text-align: center;
    color: white;
    font-size: 20px;
}

.mainTitleCFG {
    background-color: #333;
    color: #891a1a;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.mainTitleCFG:hover {
    color: #d50808;
}

.navRoutes {
    /*color: red;*/
    font-family: "MuseoSans-900";
    word-spacing: '45px';
}

.popup-container {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    gap: 10px;
}

.popup {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.textFooter {
    color: white;
    font-size: 20px;
    margin-bottom: -0%;
}

.botonBuy {
    font-size: 25px;
    margin: 2%;
    cursor: pointer;
    padding: 4px;
}

.greetingCFG {
    font-family: "dienasty";
    margin-top: 1.5rem;
    font-size: 45px;
    color: #891a1a;
    text-align: center;
}
